@page "/products"
@inject ProductService ProductService

<h3>Products</h3>

@if (Products == null)
{
    <p><em>Loading...</em></p>
}
else if (Products.Count == 0)
{
    <p>No products available at the moment.</p>
}
else
{
    <div class="product-list">
        @foreach (var product in Products)
        {
            <div class="product-card">
                <h4>@product.Name</h4>
                <p>@product.Description</p>
                <p>Price: @product.Price @product.Currency</p>
                <p>Stock: @product.Stock</p>
                <button @onclick="() => AddToCart(product.Id)" class="btn btn-primary">Add to Cart</button>
            </div>
        }
    </div>
}

@code {
    private List<Product> Products;

    protected override async Task OnInitializedAsync()
    {
        Products = await ProductService.GetProducts();
    }

    @inject UserStateService UserStateService

    private async Task AddToCart(int productId)
    {
        try
        {
            var userId = UserStateService.GetCurrentUserId(); // Убедитесь, что возвращается int
            await ProductService.AddToCart(userId, productId);
        }
        catch (InvalidOperationException ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }


}
